src/main/xsd/common.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="IdentifiableEntityDTO">
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:simpleType name="PositiveDecimalDTO">
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>