src/main/xsd/common.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="IdentifiableEntityDTO">
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:simpleType name="PositiveDecimalDTO">
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CountryCodeDTO">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PostalCodeDTO">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PostalCodeSpecificationDTO" abstract="true"/>

    <xs:complexType name="PostalCodeRangeSpecificationDTO">
        <xs:complexContent>
            <xs:extension base="PostalCodeSpecificationDTO">
                <xs:attribute name="minInclusive" type="PostalCodeDTO" use="required"/>
                <xs:attribute name="maxInclusive" type="PostalCodeDTO" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PostalCodeSetSpecificationDTO">
        <xs:complexContent>
            <xs:extension base="PostalCodeSpecificationDTO">
                <xs:sequence>
                    <xs:element name="postalCode" type="PostalCodeDTO" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CountrySpecificationDTO">
        <xs:sequence>
            <xs:element name="countryCode" type="CountryCodeDTO" minOccurs="0"/>
            <xs:element name="postalCodeSpecification" type="PostalCodeSpecificationDTO" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="PriorityDTO">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1000"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>